@model FineTracker.Web.Models.ViewModels.UserListViewModel

@{
    decimal totalAmount = 0;

    foreach (var amount in Model.UserFineViewModel)
    {
        totalAmount += amount.TotalFine;
    }
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="d-flex justify-content-between align-items-center">
        <h1>All Users with Fine - Admin Functionality</h1>
        <button type="button" class="btn btn-dark " data-bs-toggle="modal" data-bs-target="#myModal">
            Add a User
        </button>
    </div>
</div>

<form method="post">
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <label class="form-label">User Name</label>
                        <input type="text" class="form-control" asp-for="AddUserViewModel.UserName" />
                        <span asp-validation-for="AddUserViewModel.UserName" class="text-danger"></span>
                    </div>
                    <div>
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" asp-for="AddUserViewModel.Email" />
                        <span asp-validation-for="AddUserViewModel.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add User</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>UserId</td>
                <td>User Name</td>
                <td>Total Fine</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var user in Model.UserFineViewModel)
                {
                    <tr>
                        <td>@user.UserId</td>
                        <td>@user.UserName</td>
                        <td>@user.TotalFine</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td class="text-end"><strong>Total Fine of All Users:</strong></td>
                <td>@totalAmount</td>
            </tr>
        </tfoot>
    </table>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            if ('@(!ViewData.ModelState.IsValid)' === 'True') {
                $('#myModal').modal('show');
            }
        });
    </script>
}
